.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.favorite-btn:hover {
  border-color: #646cff;
}
.favorite-btn:focus,
.favorite-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
