.weather-card {
  display: flex;
  position: relative;
  flex-direction: column;

  background-color: rgba(19, 114, 181, 0.4);
  border: 1px solid rgba(73, 72, 72, 0.3);
  border-radius: 25px;

  padding: 15px;
  width: 90%;
  margin: 0 auto;

  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  height: auto;

  cursor: default;
}

.weather-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40%;
  border-radius: 25px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
}

.weather-icon {
  font-size: 6rem;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
}

.location-heading {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}

.location-heading h1,
.location-heading h2 {
  margin: 0;
  padding: 0;
}

.location-heading h1 {
  font-size: 2rem;
  font-weight: 700;
}

.location-heading h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

p {
  margin: 0.5rem 0 0 0;
}

.temp-cond-row {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.temp-cond-row h3 {
  margin: 18px 0;
}

@media (min-width: 768px) {
  .weather-card {
    width: 70%;
  }
}

@media (min-width: 1124px) {
  .weather-card {
    flex-direction: row;

    padding: 20px;
    width: 50%;
    height: 400px;
    margin-top: 20px;
  }

  .weather-icon {
    font-size: 10rem;
  }

  .weather-icon-container {
    flex: 5;
    margin: auto;
  }

  .weather-info {
    flex: 5;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
}
