.favorites-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 60px auto;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1150px;
}

.favorite-card {
  width: 260px;
  box-sizing: border-box;
  max-height: 250px;
  position: relative;

  background-color: rgba(19, 114, 181, 0.227);
  border: 1px solid rgba(73, 72, 72, 0.3);
  border-radius: 25px;

  padding: 20px;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.favorite-card:hover {
  cursor: pointer;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.current-icon {
  font-size: 3rem;
  display: block;
  margin-top: 20px;
}

.favorite-card h2 {
  margin-bottom: 40px;
}
