.favorite-card {
  width: 100%;
  max-height: 250px;
  box-sizing: border-box;
  position: relative;

  background-color: rgba(19, 114, 181, 0.227);
  border: 1px solid rgba(73, 72, 72, 0.3);
  border-radius: 25px;

  padding: 20px;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.favorite-card:hover {
  cursor: pointer;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.favorites-grid {
  width: 80%;
  display: grid;
  gap: 20px;
  /* up to 4 columns; each column min 220px, max 1fr (share remaining space) */
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  padding: 20px;
  box-sizing: border-box;
  margin: 60px auto;
}

.current-icon {
  font-size: 3rem;
  display: block;
  margin-top: 20px;
}

.favorite-card h2 {
  margin-bottom: 40px;
}
